<launch>
  <group>
 <node name="RosAria" pkg="ROSARIA" type="RosAria" />
	 <param name="port" value="/dev/ttyUSB0" />
   <node name="Sonar" pkg="hcr_vip" type="Sonar" />
   <node name="AbstractSonar" pkg="hcr_vip" type="AbstractSonar" />
   <node name="Josystic" pkg="rosfalcon" type="joystick" />
   <node name="FalconController" pkg="hcr_vip" type="FalconController" />
  </group>
</launch>
