<launch>

<!--Activates Laser scans-->
<include file="$(find hcr_vip)/launch/laser.launch"/>
<!--Activates Sonar scans-->
<include file="$(find hcr_vip)/launch/sonar.launch"/>

  <group>
	<!--Activate Rosaria-->
 <node name="RosAria" pkg="ROSARIA" type="RosAria" />
	 <param name="port" value="/dev/ttyUSB0" />
<!--Takes info from any sonar+laser and exorts error msg + move robot-->
   <node name="Master" pkg="hcr_vip" type="Master" output="screen"/>
  </group>
<include file="$(find hcr_vip)/launch/joystic_sonar.launch"/>

</launch>



